<h1>One Way Data Binding</h1>
<h3>interpolation</h3>
<div [style.color]="ucolor">{{uname}}</div>

<h3 [style.background]="'yellow'" [style.font-size]="'40px'">property binding</h3>
<div [innerHTML]="uname"></div>



<!-- class binding -->

<p class="a">class binding</p>
<p class="b">class binding</p>
<p class="c">class binding</p>

<label>Enter Name: </label>
<input type="text" #name (keyup)="but(name.value)" id="">

<p [class]="apply">class binding</p>

<!-- <button (click)="but()">change</button> -->

<!-- <button (mouseenter)="but()">change</button> -->

<!-- <button (mouseout)="but()">change</button> -->

